html,
body {
  /* overflow: hidden; */
  background-color: darkslategrey;
  margin: 4px 2px;
  padding: 0;
  /* touch-action: none; */
}

canvas {
  display: block;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* body {
  margin: 2% 0 0 0;
  padding: 5% 0 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */
